*{margin:0px;padding:0px;}
body{
	background:url("pic/bg1.jpg");
	background-size:cover;
	background-position:fixed;
	}
#levels{position:absolute; top:330px;left:400px;}
#startbtn{width:400px; position:absolute; background:black;
 color:white;text-align:center;font-size:120px; cursor:pointer; top:320px; left:460px;
  border-radius:20px;border:5px solid red; padding:60px 20px;}
#startbtn:hover{color:red; border:5px dotted green;}
#shower{
	position:absolute;
	left:420px;
	bottom:460px;
	border:0px;
	width:200px;
	text-align:center;
	font-family:"Times New Roman";
	font-size:150px;
	font-weight:bold;
	background:transparent;
	color:red;
		}
#changer{
	position:absolute;
	bottom:340px;
	left:480px;
	border:3px solid red;
	border-radius:5px;
	border-style:inside;
	height:80px;
	width:80px;
	text-align:center;
	font-family:"Times New Roman";
	font-size:50px;
	font-weight:bold;
	background:transparent;
	color:white;
		}
#keyboard{
	position:absolute;
	bottom:60px;
	left:155px;
	height:330px;
	width:1050px;
}
#firstrow{position:absolute; bottom:210px; left:20px;}
#firstrow div{
	float:left;
	height:70px;
	width:70px;
	border:2px solid white;
	border-radius:5px;
	margin:5px;
	background:url("pic/ico.jpg");
	background-size:cover;
}
#secondrow{position:absolute; bottom:120px; left:45px;}
#secondrow div{
	float:left;
	height:70px;
	width:70px;
	border:2px solid white;
	border-radius:5px;
	margin:5px;
	background:url("pic/ico.jpg");
	background-size:cover;
	}
#thirdrow{position:absolute; bottom:30px; left:90px;}
#thirdrow div{
	float:left;
	height:70px;
	width:70px;
	border:2px solid white;
	border-radius:5px;
	margin:5px;
	background:url("pic/ico.jpg");
	background-size:cover;
	}
#keyboard h1{
	text-align:center;
	margin-top:10px;
}
#keyboard h2{
	text-align:center;
	line-height:30px;
	margin-top:0px;
}

#forstart{position:absolute; 
	top:0; 
	left:0;
	width:100%;
	text-align:center;
	align-content:center;
	align:center;

	}
	
#forstart h1{font-size:150px;
			text-align:center;
			color:red;
			-webkit-text-stroke:2px white;
			}
#forstart h2{font-size:110px;
			text-align:center;
			color:red;
			width:100%;
			-webkit-text-stroke:2px white;
			margin-bottom:40px;
			}
#forstart button{
			width:300px;
			font-size:40px;
			font-weight:bold;
			padding:5px;
			color:green;
			margin-top:20px;
			border-radius:10px;
			border:2px solid red;
			background:rgba(0,0,0,0.5);
			cursor:pointer;
			}
			
#forstart button:hover{
	background:rgba(100,0,0,0.5);
}

#levels{
	position:static;
	margin:0 auto;
	}

#tohide{
	position:absolute;
	top:300px;
	left:990px;
	border:5px solid green;
	border-radius:10px;
	padding:20px;
	color:red;
}
#tohide input{
	font-size:30px;
	background:transparent;
	font-weight:bold;
	width:250px;
	border:0px;
}

#ontyping{
	position:absolute;
	bottom:410px;
	left:10px;
	border:5px solid green;
	border-radius:10px;
	padding:1px 20px;
	color:red;
}
#ontyping input{
	font-size:26px;
	background:transparent;
	font-weight:bold;
	width:185px;
	border:0px;
}
#ontyping #time{
	display:none;
}

#clock{
	position:absolute;
	top:-270px;
	right:-150px;
	font-size:70px;
	font-style:italic;
	color:red;
	text-align:center;
	border:5px solid green;
	border-radius:30px;
	width:250px;
	background:transparent;
	}

#toend{position:absolute;
		left:1000px;
		bottom:-75px;
		height:60px;
		width:100px;
		background:rgba(0,0,0,0.5);
		color:white;
		font-style:italic;
		font-size:25px;
		cursor:pointer;
		}
#toend:hover{color:red;}

#closebtn{position:absolute; left:20px; bottom:5px; color:red; 
		border:1px solid #fff; font-size:26px; border-radius:5px;
		padding:1px 5px; cursor:pointer;}

#closebtn:hover{background:yellow;}


